<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4F5rEddchff5OvzEdnrJEt81yQJP36GM</string>
	<key>GCM_SENDER_ID</key>
	<string>850909080491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fanitekTest</string>
	<key>PROJECT_ID</key>
	<string>fanitek-test-696d4</string>
	<key>STORAGE_BUCKET</key>
	<string>fanitek-test-696d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850909080491:ios:aae8bd8606047f4a2e80ee</string>
</dict>
</plist>